.App {
    text-align: center;
  }
  
  
  

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .app-background {
    background-color: #D2B48C; 
    min-height: 160vh; 
    width:100%;
  }
  
  body{
    height:100%;
    width:100%;
}

/*The below code fixes sizing issue where background would not fill*/
html{
  background-color: #D2B48C; 
}